<form>
    <h2>Новостная лента</h2>
    <div id="app">
        <select v-model="selected">
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>

        <div v-for="pieceOfnews in news">
            <b>{{ pieceOfnews.Title }}</b>
            {{ pieceOfnews.Summary }}
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            news: '',
            selected: '',
            options: [
                { text: 'Все', value: "http://localhost:53033/News/All" },
                { text: 'Habr', value: "http://localhost:53033/News/Habr" },
                { text: 'Interfax', value: "http://localhost:53033/News/Interfax" }
            ]
        },
        updated() {
            axios
                .get(this.selected)
                .then(response => (this.news = response.data));
        }
    });
</script>
